*.pyc
develop-eggs
downloads
eggs
parts
*.swp
python/protobuf_rpc/protos/*_pb2.py
.project
.idea
*.iml
env/
bin/
.pydevproject
node_modules
bin
nosetests.xml
java/src/main/resources/*.proto
*.egg-info/
node/rpc.proto